{% extends 'compte/form_compte.twig' %}

{% block form %}
	<form action="controleur.php?page=user&action=check_exist" method="post">
		<div class="mb-3">
			<label for="email" class="form-label">Adresse mail</label>
			<input type="email" required class="form-control" id="email" name="email">
		</div>
		<input type="submit" class="btn btn-primary me-3" value="Créer mon compte">
		<a href="index.php" class="link-light text-decoration-none">Annuler</a>
	</form>
{% endblock %}
