{% extends 'base.twig' %}

{% block main %}
	<div class="container">
		<form method="POST" action="controleur.php?page=article&action=create">
			<input hidden type="text" required class="form-control" id="auteur" name="auteur" value="{{session.id}}">
			<div class="mb-3">
				<label for="titre" class="form-label">Titre de l'article</label>
				<input type="text" required class="form-control" id="titre" name="titre">
			</div>
			<div class="mb-3">
				<label for="contenu" class="form-label">Contenu</label>
				<textarea required class="form-control" id="contenu" name="contenu" style="height: 400px"></textarea>
			</div>
			<div class="mb-3">
				<label for="categorie" class="form-label">Catégorie</label>
				<select name="categorie" id="categorie" class="form-control">
					{% for categorie in categories %}
						<option value="{{categorie.id}}">{{categorie.nom}}</option>
					{% endfor %}
				</select>
			</div>
			<input type="submit" class="btn btn-primary" value="Publier">
		</form>
	</div>
{% endblock %}
